html{
    background-color: #DEE7FD;
}
*{
    margin: 0;
    padding: 0;
}
.header{
    width: 1000px;
    height: 300px;
    margin: auto;
    align-content: center;
    text-align: center;
    background-color: #A1B9C4;
}
.header img{
    width: 480px;
    height: 270px;
    margin: 20px 255px 10px 255px;
    padding: 10px;
    border: 6px solid;
    border-color: #fff;
    clip: rect(0px,480px,270px,0px);
    object-fit: cover;
    align-content: center;
}
.content{
    width: 1000px;
    height: 500px;
    margin: auto;
    align-content: center;
}
.working{
    width: 320px;
    height: 420px;
    margin: 50px 50px 50px 130px;
    display: inline-block;
    background-color: #fff;
}
.workthing2{
    width: 320px;
    height: 420px;
    margin: 50px;
    display: inline-block;
    background-color: #fff;
}
.detail{
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.detail p{
    margin: 0;
    padding: 0;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.working img{
    width: 300px;
    height: 400px;
    padding: 10px;
}
.workthing2 img{
    width: 300px;
    height: 400px;
    padding: 10px;
}
.working:hover .detail{
    right: 0%;
}
.workthing2:hover .detail{
    right: 0%;
}
.working{
    position: relative;
    overflow: hidden;
}
.workthing2{
    position: relative;
    overflow: hidden;
}
.working:hover img{
    transform: scale(1.03);
}
.workthing2:hover img{
    transform: scale(1.03);
}