html{
    background-color: #DEE7FD;
}
*{
    margin: 0;
    padding: 0;
}
.header{
    width: 1000px;
    height: 300px;
    margin: auto;
    align-content: center;
    text-align: center;
    background-color: #A1B9C4;
}
.header img{
    width: 495px;
    height: 330px;
    margin: 20px 255px 10px 230px;
    padding: 10px;
    border: 6px solid;
    border-color: #fff;
    clip: rect(0px,480px,270px,0px);
    object-fit: cover;
    align-content: center;
}
.content{
    width: 1000px;
    height: 700px;
    margin: auto;
    align-content: center;
}
.grade8-1{
    width: 320px;
    height: 440px;
    margin: 220px 50px 50px 130px;
    display: inline-block;
    background-color: #fff;
}
.grade8-2{
    width: 320px;
    height: 440px;
    margin: 220px 50px 50px 50px;
    display: inline-block;
    background-color: #fff;
}
.detail{
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.detail p{
    margin: 0;
    padding: 0;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.grade8-1 img{
    width: 300px;
    height: 420px;
    padding: 10px;
    clip: rect(0px,300px,420px,0px);
    object-fit: cover;
}
.grade8-2 img{
    width: 300px;
    height: 420px;
    padding: 10px;
}
.grade8-1:hover .detail{
    right: 0%;
}
.grade8-2:hover .detail{
    right: 0%;
}
.grade8-1{
    position: relative;
    overflow: hidden;
}
.grade8-2{
    position: relative;
    overflow: hidden;
}
.grade8-1:hover img{
    transform: scale(1.03);
}
.grade8-2:hover img{
    transform: scale(1.03);
}
.content2{
    width: 1000px;
    height: 500px;
    margin: auto;
    align-content: center;
}
.grade5-1{
    width: 320px;
    height: 440px;
    margin: 50px 50px 50px 130px;
    display: inline-block;
    background-color: #fff;
}
.grade5-2{
    width: 320px;
    height: 440px;
    margin: 50px;
    display: inline-block;
    background-color: #fff;
}
.grade5-1 img{
    width: 300px;
    height: 420px;
    padding: 10px;
    clip: rect(0px,300px,420px,0px);
    object-fit: cover;
}
.grade5-2 img{
    width: 300px;
    height: 420px;
    padding: 10px;
}
.grade5-1:hover .detail{
    right: 0%;
}
.grade5-2:hover .detail{
    right: 0%;
}
.grade5-1{
    position: relative;
    overflow: hidden;
}
.grade5-2{
    position: relative;
    overflow: hidden;
}
.grade5-1:hover img{
    transform: scale(1.03);
}
.grade5-2:hover img{
    transform: scale(1.03);
}
.content3{
    width: 1100px;
    height: 350px;
    margin: auto;
    align-content: center;
}
.cello{
    width: 436px;
    height: 254px;
    margin: 50px 50px 50px 70px;
    display: inline-block;
    background-color: #fff;
}
.kalimba{
    width: 436px;
    height: 254px;
    margin: 50px;
    display: inline-block;
    background-color: #fff;
}
.cello video{
    width: 416px;
    height: 234px;
    padding: 10px;
}
.kalimba video{
    width: 416px;
    height: 234px;
    padding: 10px;
    clip: rect(0px,416px,234px,0px);
    object-fit: cover;
}
.content4{
    width: 1000px;
    height: 550px;
    margin: auto;
    align-content: center;
}
.espanol{
    width: 320px;
    height: 440px;
    margin: 50px 50px 50px 350px;
    display: inline-block;
    background-color: #fff;
}
.espanol img{
    width: 300px;
    height: 420px;
    padding: 10px;
    clip: rect(0px,300px,420px,0px);
    object-fit: cover;
}
.espanol:hover .detail{
    right: 0%;
}
.espanol{
    position: relative;
    overflow: hidden;
}
.espanol:hover img{
    transform: scale(1.03);
}
.reflection{
    width: 610px;
    height: auto;
    padding: 10px;
    border: 6px solid;
    border-color: #fff;
    margin: 10px 10px 10px 400px;
    text-align: center;
}
.reflection2{
    width: 600px;
    height: auto;
    line-height: 50px; /*行距*/
    text-align: center;
}
