body{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    min-height: 100%;
    background-color: #DEE7FD;
}
.header{
    width: 1000px;
    height: 300px;
    margin: auto;
    align-content: center;
    text-align: center;
    background-color: #A1B9C4;
}
.header img{
    width: 495px;
    height: 330px;
    margin: 20px 255px 10px 230px;
    padding: 10px;
    border: 6px solid;
    border-color: #fff;
    clip: rect(0px,480px,270px,0px);
    object-fit: cover;
    align-content: center;
}  
.introduction{
    width: 1150px;
    height: auto;
    margin: 10px;
    text-align: center;
}
.introduction-1{
    width: 1000px;
    height: auto;
    line-height: 50px; /*行距*/
    padding: 10px;
    border: 6px solid;
    border-color: #fff;
    text-align: center;
}
.content{
    width: 1150px;
    height: auto;
    align-content: center;
    margin: 630px 0px 40px 150px;
}

.content img{
    position:relative;
    width: 300px;
    height: 300px;
    clip: rect(0px,300px,300px,0px);
    object-fit: cover;
    transition:0.6s ease-in;
    margin: 5px;
    padding: 10px;
    border: 6px solid;
    border-color: #fff;
    align-content: center;
}
.i400-300:hover{
    width: 400px;
    height: 300px;
}
.i350-350:hover{
    width: 350px;
    height: 350px;
}
.i300-400:hover{
    width: 300px;
    height: 400px;
}
.i270-480:hover{
    width: 270px;
    height: 480px;
}
.i480-270:hover{
    width: 480px;
    height: 270px;
}
